<!--header button-->
<div class="nav-pan">
  <button mat-button (click)="onOpen()">Добавить задачу</button>
</div>

<!--spinner-->
<mat-spinner [ngClass]="{'spinner-view': hideSpinner}"></mat-spinner>

<!--side-nav-bar-->
<mat-sidenav-container [ngClass]="{'side-bar-view': hideSideBar}" class="example-container">
  <mat-sidenav  mode="side" opened>
    <div class="nav-close">
      <div class="close-text">Закрыть</div>
      <mat-icon class="mat-close" (click)="onClose()">close</mat-icon></div>
    <mat-toolbar>Новая задача</mat-toolbar>
    <textarea class="form-control" [(ngModel)]="tasks.description" #description = "ngModel" name="task-input" cols="60%" rows="10" ></textarea>
    <button class="side-btn" mat-button [disabled]="!tasks.description" (click)="addTask(tasks)">Добавить</button>
  </mat-sidenav>
  <mat-sidenav-content></mat-sidenav-content>
</mat-sidenav-container>

<!--table with tasks-->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="id" class="cell-center">
    <th mat-header-row *matHeaderCellDef> Id задачи </th>
    <td mat-row *matCellDef="let element" class="cell-center"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="description">
    <th mat-header-row *matHeaderCellDef> Текст задачи </th>
    <td mat-cell class="task-description" *matCellDef="let element">
      {{element.description}}
      <mat-icon class="create-icon" id="{{element.id}}" (click)="openDialog()">create</mat-icon>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="date">
    <th mat-header-row *matHeaderCellDef> Дата создания </th>
    <td mat-cell *matCellDef="let element" class="cell-center"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-row *matHeaderCellDef class="cell-center"> Действия с задачей </th>
    <td mat-cell *matCellDef="let element" class="cell-center">
      <mat-icon id="{{element.id}}" (click)="openConfirmDialog()">delete</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
