.nav-pan {
  text-align: center;
}

.mat-button {
  margin: 2rem;
}

.start-div {
  text-align: center;
  border: 2px solid blue;
  padding-top: 2%;
  border-radius: 15px;
  width: 50%;
  margin: auto;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  width: 39%;
  height: 100vh;
  overflow: visible;
  border-bottom: 1px solid #dcdcdc;
}

.mat-sidenav-content {
  display: none;
}

mat-sidenav[mode="side"] {
  padding: 7%;
  background: #fafafa;
  width: 100%;
}

.form-control {
  height: 55%;
}

.nav-close {
  text-align: right;
}

.nav-close * {
  display: inline-block;
  vertical-align: middle;
}

.mat-close {
  cursor: pointer;
}

.visibility {
  display: block;
}

textarea { resize: vertical; }

table {
  width: 100%;
}

.cell-center {
  text-align: center;
}

mat-icon:hover {
  cursor: pointer;
}

.create-icon {
  margin-left: 5%;
  display: inline-block;
  visibility: hidden;
  position: absolute;
}

.mat-toolbar {
  margin-bottom: 5%;
}

.spinner-wrapper {
  position: absolute;
  top: 45%;
  left: 43.5%;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.spinner-wrapper div {
  margin-top: 20%;
}

.spinner-view {
  display: none;
}

.side-bar-view {
  display: none;
}

.task-description:hover > .create-icon {
  visibility: visible;
}

.main-view {
  display: none;
}

.start-view {
  display: none;
}
