.nav-pan {
  text-align: center;
}

.mat-button {
  margin: 2rem;
}

.start-div {
  text-align: center;
  padding-top: 2%;
  width: 50%;
  margin: auto;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -39%;
  right: 0;
  background: #eee;
  width: 39%;
  height: 100vh;
  overflow: visible;
  border-bottom: 1px solid #dcdcdc;
}

@media screen and (max-width: 768px) {
  .example-container {
    width: 90%;
  }
}

.mat-sidenav-content {
  display: none;
}

mat-sidenav[mode="side"] {
  padding: 7%;
  background: #fafafa;
  width: 100%;
}

.form-control {
  height: 35%;
}

.nav-close {
  text-align: right;
}

.nav-close * {
  display: inline-block;
  vertical-align: middle;
}

.mat-close {
  cursor: pointer;
}

.visibility {
  display: block;
}

textarea {
  resize: vertical;
}

table {
  width: 100%;
}

.cell-center {
  text-align: center;
}

mat-icon:hover {
  cursor: pointer;
}

.create-icon {
  margin-left: 1%;
  display: inline-block;
  visibility: hidden;
  position: absolute;
}

.task-description {
  width: 60%;
  padding: 1%;
}

.task-action {
  padding-left: 24px;
}

.mat-toolbar {
  margin-bottom: 5%;
}

.spinner-wrapper {
  position: absolute;
  top: 45%;
  left: 43.5%;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.spinner-wrapper div {
  margin-top: 20%;
}

.task-description:hover > .create-icon {
  visibility: visible;
}

.start-view,
.main-view,
.side-bar-view,
.spinner-view,
.start-spinner-note,
.load-spinner-note {
  display: none;
}
